/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------
@teaser-title-height: 54px;

// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-stadt-appell.view-mode-teaser {
  margin: 0;

  a {
    text-decoration: none;

    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }

  >.row {
    margin: 0;

    >div.col-sm-12 {
      position: relative;
      padding: 0;
      width: 100%;

      >.appell-call-backdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: none;

        .appell-text {
          padding: 0 10px;
          width: 100%;
          position: absolute;
          top: auto;
          bottom: 10px;
          left: 0;
          right: 0;
          font-family: @pxl-text-font;
          font-size: 18px;
          letter-spacing: normal;
          text-align: right;
          line-height: 1;
          color: @pxl-color-backdrop;
        }
      }

      @media @normal {
        >.appell-call-backdrop {
          display: none;
          background-color: @pxl-color-backdrop;

          .appell-text {
            width: 100%;
            #pxl-mixins.center-vertically(absolute);
            bottom: auto;
            font-size: 23px;
            text-align: center;
            color: #fff;
          }
        }

        &:hover {
          >.appell-call-backdrop {
            display: block;
          }
        }
      }

      >.field-name-title {
        overflow: hidden;
        white-space: nowrap;
        padding: 12px 15px;
        height: @teaser-title-height;
        background-color: @pxl-color-black;

        h2 {
          margin: 0;
          padding: 0;
          font-family: @pxl-subtitle-font;
          font-weight: 500;
          #pxl-mixins.font-size-responsive(30px, 30px, 30px);
          letter-spacing: 0.02em;
          text-align: left;
          .text-overflow();
          line-height: 1;
          color: #fff;
        }
      }

      >.field-name-field-image {
        position: absolute;
        top: 10px;
        right: -15px;
        z-index: 200;

        .field-item {
          img {
            width: auto;
            height: 80px;
          }
        }
      }

      >.field-name-field-short-appell {
        margin: 0;
        padding: 30px 20px 20px;
        height: (@pe-item-height - @teaser-title-height);
        background-color: #fff;

        .field-item {
          font-family: @pxl-text-font;
          #pxl-mixins.font-size-responsive(23px, 23px, 18px);
          letter-spacing: normal;
          text-align: left;
          line-height: 1.3em;
          color: @text-color;
        }
      }
    }
  }
}

.node.node-stadt-appell.view-mode-full,
.node.node-stadt-appell.view-mode-default {
  margin: 0;
  padding: 20px 15px;
  background-color: #fff;

  @media @narrow {
    padding: 40px 50px;
  }
  @media @tablet {
    padding: 60px 80px;
  }

  >.row {
    >div.col-sm-12 {
      position: relative;
      width: 100%;

      >.field-name-title {
        overflow: hidden;
        white-space: nowrap;
        padding: 12px 15px;
        background-color: @pxl-color-black;

        h2 {
          margin: 0;
          padding: 0;
          font-family: @pxl-subtitle-font;
          font-weight: 500;
          #pxl-mixins.font-size-responsive(30px, 30px, 30px);
          letter-spacing: 0.02em;
          text-align: left;
          .text-overflow();
          line-height: 1;
          color: #fff;
        }
      }

      >.field-name-body {
        margin: 0 0 20px;
        #pxl-mixins.wysiwyg-body();
      }

      >.shariff-buttons-title {
        margin: 50px auto;
        font-family: @pxl-text-font-bold;
        #pxl-mixins.font-size-responsive(20px, 20px, 18px);
        letter-spacing: 0.05em;
        line-height: 1.3em;
        text-align: center;
        text-transform: uppercase;
        color: @pxl-color-main;
      }

      >.field-name-field-shariff-buttons {
        .field-item {
          // see shariff-buttons.less
        }
      }
    }
  }
}
