/*
 *  Social sharing shariff buttons
 * --------------------------------------------------*/

// Variables
// -------------------------
@ss-font-path: "@{pxl-font-path}/ss-social";
@ss-sub-font: "Circle"; // supported sub-fonts are "Circle" and "Regular"
@ss-sub-font-hover: "Regular";

@pxl-share-color: @text-color;
@pxl-share-align: left;
@pxl-follow-color: @text-color;

@pxl-share-icon-size: 40px;


// Social icon Fonts
// -------------------------
@font-face {
  font-family: "SSSocial-Circle";
  src: url('@{ss-font-path}/ss-social-circle.eot');
  src: url('@{ss-font-path}/ss-social-circle.eot?#iefix') format('embedded-opentype'),
  url('@{ss-font-path}/ss-social-circle.woff') format('woff'),
  url('@{ss-font-path}/ss-social-circle.ttf') format('truetype'),
  url('@{ss-font-path}/ss-social-circle.svg#SSSocialCircle') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SSSocial-Regular";
  src: url('@{ss-font-path}/ss-social-regular.eot');
  src: url('@{ss-font-path}/ss-social-regular.eot?#iefix') format('embedded-opentype'),
  url('@{ss-font-path}/ss-social-regular.woff') format('woff'),
  url('@{ss-font-path}/ss-social-regular.ttf') format('truetype'),
  url('@{ss-font-path}/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}




// Mixins
// -------------------------
.ss-social(@sub-font) {
  font-family: "SSSocial-@{sub-font}";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}



// Main settings
// -------------------------
.shariff {
  ul {
    #pxl-mixins.no-list-style();
    text-align: center;

    &.theme-colored {

    }

    &.orientation-horizontal {

    }
    &.orientation-vertical {

    }

    //
    // buttons
    >li.shariff-button {
      #pxl-mixins.no-list-style();
      display: inline-block;
      margin: 0 15px;

      a {
        margin: 0 0 10px;
        padding: 0;

        span.share_text {
          display: none;
        }

        span.fa {
          width: @pxl-share-icon-size;
          height: @pxl-share-icon-size;
          font-size: (@pxl-share-icon-size - 4px);
          color: @pxl-color-main;
          text-align: center;
          line-height: @pxl-share-icon-size;
          background: none !important;
          opacity: 1.0;

          &:hover {
            color: @pxl-color-active;
          }

          &:before {
            display: inline-block;
            vertical-align: text-bottom;
          }

          @media @tablet {
            &.fa-whatsapp {
              display: none;
            }
          }
        }

      }
    }
  }
}
